.App {
  text-align: center;
  /* font-family: Lato; */
  font-family: 'Lato', sans-serif;
  color: white; 
  background-color: black;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MuiPaper-root .MuiAppBar-root .MuiAppBar-positionStatic .MuiAppBar-colorPrimary .myAppBar .MuiPaper-elevation4 {
  background-color: #696969;
}

.movieElement {
  /* margin-left: 2%;
  margin-right: 2%; */
  cursor: pointer;
  margin: 2%;
  max-width: 185px;
  text-align: left;
}

a {
  text-decoration: none;
  color: white;
}

.favorite-panel {
  display: flex;
  justify-content: space-between;
  /* background-color: grey; */
  width: 100%;
  height: 300px;
  margin: 5%;
}

.FavoriteBasket {
  min-height: 100vh;
  /* background-color:red; */
}

h4 {
  margin:10%;
  
  /* margin-top:50%; */
}